<%- include("partials/header") %>
<body>
    <h1>Hiking</h1>
    <hr>
    <h2>The <a href="https://www.longdistancepaths.eu/gr5/en/">GR5</a> hiking</h2>
    <table cellspacing="10">
        <tr><td>
                <h4>Traject</h4> 
            </td>
            <td> <h4>Distance covered</h4></td>
            <td><h4>Date</h4></td>
        </tr>
        <tr>
            <td>Stage Zutendaal to Ében-Émael</td>
            <td>41.4 km</td>
            <td>11 - 12 03/2023 </td>
        </tr>
        <tr>
            <td>Stage Ében-Émael to Visé</td>
            <td>20 km</td>
            <td>/2023 </td>
        </tr>
        <tr>
            <td>Stage Visé to Micheroux</td>
            <td>20.7 km</td>
            <td>/2023 </td>
        </tr>
        <tr>
            <td>Stage micheroux to banneux</td>
            <td>19.8 km</td>
            <td>/2023 </td>
        </tr>
        <tr>
            <td>Stage banneux to stavelot</td>
            <td>41.4 km</td>
            <td>21 - 22 07/2023 </td>
        </tr>
        <tr>
            <td>Stage stavelot to Braunlauf</td>
            <td>30 km with detour of 7km hunterseason</td>
            <td>28 - 29 10/2023 </td>
        </tr>
        <tr>
            <td>Stage Braunlauf (be) to Dasburg (lx)</td>
            <td>38</td>
            <td>28 - 29 10/2023 </td>
        </tr>
    </table>
    <p>Total distance hiked: 542 km.</p> <p>25% covered</p>
    <p>Total distance of the GR5: 2150 km </p>
    <hr>
    <h2>The <a href="https://www.mullerthal-trail.lu/en"> mullerthal Trail</a></h2>
    <table cellspacing="10">
        <tr><td>
                <h4>Traject</h4> 
            </td>
            <td> <h4>Distance covered</h4></td>
            <td><h4>Date</h4></td>
        </tr>
        <tr>
            <td>Berdorf</td>
            <td>20 km</td>
            <td>/2022 </td>
        </tr>
        <tr>
            <td>Diekrich</td>
            <td>16 km</td>
            <td>/2022 </td>
        </tr>
        <tr>
            <td>Mullerthal</td>
            <td>16 km</td>
            <td>/2022 </td>
        </tr>
    </table>
    <hr>
    <h2>Hikes in belgium</h2>
        <h3>Flanders</h3>
        <h3>Ardennes</h3>
        <h3>Coast</h3>
    <hr>
    <h2>Hikes in Germany</h2>
    <table cellspacing="10">
        <tr><td>
                <h4>Traject</h4> 
            </td>
            <td> <h4>Distance covered</h4></td>
            <td><h4>Date</h4></td>
        </tr>
        <tr>
            <td><a href="http://t3.gstatic.com/licensed-image?q=tbn:ANd9GcTkfgsWWCUA-nV_H1WDm-yWEGST_cNuMNmtXJoCS0jEBXne8bMJ25yeMxWtCemRsMtm"> Nienhagen</a></td>
            <td>10 km</td>
            <td>20/12/2022 </td>
        </tr>
        <tr>
            <td><a href="https://www.google.com/imgres?imgurl=https%3A%2F%2Fupload.wikimedia.org%2Fwikipedia%2Fcommons%2F4%2F47%2F2019_-_Nationalpark_Jasmund_-_03.jpg&tbnid=xNeBazOVqgzdJM&vet=12ahUKEwjbnNzg6Ij-AhVFgv0HHY46B5wQMygAegUIARDTAQ..i&imgrefurl=https%3A%2F%2Fen.wikipedia.org%2Fwiki%2FJasmund_National_Park&docid=F52cf4ofhGuElM&w=6114&h=4218&q=jasmund%20national%20park&ved=2ahUKEwjbnNzg6Ij-AhVFgv0HHY46B5wQMygAegUIARDTAQ"> Jasmund park</a></td>
            <td>16 km</td>
            <td>21/12/2022 </td>
        </tr>
        <tr>
            <td><a href="https://theculturetrip.com/europe/germany/articles/top-9-things-see-monschau-germany/"> Monschau</a></td>
            <td>16 km</td>
            <td>21/12/2022 </td>
        </tr>
    </table> 
    <hr>
    <h2>Hikes in France</h2>
    <table cellspacing="10">
        <tr><td>
                <h4>Traject</h4> 
            </td>
            <td> <h4>Distance covered</h4></td>
            <td><h4>Date</h4></td>
        </tr>
        <tr>
            <td>Wissant</td>
            <td>8 km</td>
            <td>/2022 </td>
        </tr>
        <tr>
            <td>Cassel</td>
            <td>12 km</td>
            <td>/2022 </td>
        </tr>
       
    </table>
    <hr>
    <h2>Hikes in netherlands</h2>
    <hr>
    <h2><a href="https://mtbroutedatabase.be/jacht-seizoen.htm"> Jacht seizoen</a> </h2>

</body>

<%- include("partials/footerHiking.ejs") %>