<%- include("partials/header.ejs") %>

<body>
    <h2>My hobbies</h2>
        <div class = "container_h">
            
            
                <ol>
                    <li>Volleyball</li>
                    <li>Maker</li>
                    <li>Hiking</li>
                    <li>Motor cycles</li>
                    <li>Road trips</li>
                </ol>
        </div>


</body>

<%- include("partials/footer.ejs") %>