<%- include("partials/header.ejs") %>

<body>
    <% if (message === "success") { %>
        <div class="success-message">
            <p>✅ Thank you for your message! You will be contacted soon.</p>
        </div>
    <% } %>
    <main>
        <img class = "img_profile" src="images/WhatsApp Image 2023-03-26 at 14.50.09 (4)-modified.png" alt="Wim profile Foto" >
        <h1>Wim Deschoenmaeker</h1>
    </main>        
    <section>        
        </div>
        <h2 class="container_h" >Who am I</h2>
        <div class="contanier_w"> 
            <p>I am an accomplished Electrical Mechanical Engineer with a strong passion for Automation. Based in Waregem, Belgium, I currently work at Delta Engineering, a leading company in the field of automation and engineering solutions. I have been actively contributing to the world of industrial automation since 2005.</p>
            <p>My expertise lies in designing and implementing innovative automation systems that enhance efficiency, productivity, and safety in various industrial settings. Throughout my career, I have successfully executed numerous automation projects, ranging from small-scale enhancements to large-scale industrial automation solutions.</p>
            <p>As an Automation Engineer, I possess a deep understanding of complex control systems, PLC programming, robotics, and industrial processes. My proficiency in both electrical and mechanical engineering allows me to tackle multifaceted challenges, ensuring seamless integration between electrical components and mechanical systems.</p>
            <p>I have a reputation for being detail-oriented and quality-focused, ensuring that every project I undertake is meticulously planned, executed, and thoroughly tested. My problem-solving skills and analytical mindset enable me to troubleshoot and resolve any technical issues that may arise during the implementation phase.</p>
            <p>Beyond my technical prowess, I am known for my strong leadership and teamwork skills. I have collaborated with cross-functional teams, including mechanical engineers, software developers, and project managers, to deliver comprehensive and cohesive automation solutions to clients.</p>
            <p>My passion for staying up-to-date with the latest advancements in automation technology drives me to continuously expand my knowledge and skills. I actively participate in industry conferences, workshops, and training programs, allowing me to incorporate cutting-edge technologies and best practices into my projects.</p>
            <p>My dedication to the field of automation and my commitment to delivering excellence have earned me the respect of my peers and clients alike. I take pride in the positive impact my work has on industries, making them more efficient, safer, and better equipped for the challenges of the modern world.</p>
            <p>Overall, I am a highly skilled and experienced Electrical Mechanical Engineer with a profound affinity for Automation, making a significant difference in the world of industrial engineering.</p>   
        </div>
        
    </section>
</body>
<%- include("partials/footer.ejs") %>

