<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <title>Motorcycles</title>
    <link rel="stylesheet" href="CSS/styles.css">
</head>
<body>
    <h1> Welcome to my favorite hobby MOTORCYCLES</h1>
    <hr>
    <ol>
        <li>KTM <a href="https://mcn-images.bauersecure.com/wp-images/4036/1440x960/ktm125duke5.jpg?mode=max&quality=90&scale=down"> DUKE 125</a> 2011</li>
        <li>Triumph <a href="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.belgiemobiel.be%2Ftweedehands-motor%2Fkawasaki%2Fz1000-z-1000-black-edition%2F266365&psig=AOvVaw3TtcmKq_2j03eR_YMJUE3K&ust=1680441299255000&source=images&cd=vfe&ved=0CBAQjRxqFwoTCKjdxefhiP4CFQAAAAAdAAAAABAI"> 675 street triple 2009</a></li>
        <li>Triumph <a href="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.motoplanete.com%2Ftriumph%2F6971%2F765-STREET-TRIPLE-RS-2018%2Fcontact.html&psig=AOvVaw12D2MWh8-abbOK6mf20BoD&ust=1680441377402000&source=images&cd=vfe&ved=0CBAQjRxqFwoTCIiL5IziiP4CFQAAAAAdAAAAABAE"> 765 steet triple 2018</a> RIP</li>
        <li>Triumph <a href="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.bennetts.co.uk%2Fbikesocial%2Freviews%2Fbikes%2Ftriumph%2Ftriumph-street-triple-rs-2020-review-price-spec&psig=AOvVaw1IcIT9oWcQT_ZZjkzD5VSw&ust=1680441426458000&source=images&cd=vfe&ved=0CBAQjRxqFwoTCLjynqTiiP4CFQAAAAAdAAAAABAE"> 765 street triple 2020</a></li>
        <li>BMW <a href="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.motorcyclenews.com%2Fbike-reviews%2Fbmw%2Ff850gs%2F2018%2F&psig=AOvVaw2n-pZsMJSVlFaVvguzjbQf&ust=1680441474369000&source=images&cd=vfe&ved=0CBAQjRxqFwoTCIi68briiP4CFQAAAAAdAAAAABAE"> F850GS 2018</a></li>
    </ol>
<hr>


</body>
</html>