<%- include("partials/header.ejs") %>

<body>
    <h1> Welcome to my favorite hobby MOTORCYCLES</h1>
    <hr>
    <div class="container_w">
        <ol>
            <li>KTM <a href=https://photos.app.goo.gl/xy7WHXRTszoLWuQf6> DUKE 125</a> 2011</li>
            <li>Triumph <a href=https://photos.app.goo.gl/Usjnww4ZKBXp3GnY9> 675 street triple 2009</a></li>
            <li>Triumph <a href=https://photos.app.goo.gl/BaBmAWbcjkBo6sMo9> 765 steet triple 2018</a> RIP</li>
            <li>Triumph <a href=https://photos.app.goo.gl/mjQPisFJ5Zpw7Tuk6> 765 street triple 2020</a></li>
            <li>BMW <a href=https://photos.app.goo.gl/eKHSeQPfFz2FbBc79> F850GS 2018</a></li>
        </ol>
    </div>
<hr>


</body>
<%- include("partials/footer.ejs") %>