<%- include("partials/header.ejs") %>

<body>
    <h1> Welcome to my favorite hobby MOTORCYCLES</h1>
    <hr>
    <div class="container_w">
        <ol>
            <li>KTM <a href=https://photos.app.goo.gl/xy7WHXRTszoLWuQf6> DUKE 125</a> 2011 <img class = "img_moto" src="images/motorcycles/IMG_KTM_2011_Duke125.jpg" alt="Moto1" ></li>
            <li>Triumph <a href=https://photos.app.goo.gl/Usjnww4ZKBXp3GnY9> 675 street triple 2009 <img class = "img_moto" src="images/motorcycles/IMG_Triump_2009_Streettriple.jpg" alt="Moto2" ></a></li>
            <li>Triumph <a href=https://photos.app.goo.gl/BaBmAWbcjkBo6sMo9> 765 steet triple 2018 <img class = "img_moto" src="images/motorcycles/IMG_Triump_2018_Streettriple.jpg" alt="Moto3" ></a> RIP</li>
            <li>Triumph <a href=https://photos.app.goo.gl/mjQPisFJ5Zpw7Tuk6> 765 street triple 2020 <img class = "img_moto" src="images/motorcycles/IMG_Triump_2020_Streettriple.jpg" alt="Moto4" ></a></li>
            <li>BMW <a href=https://photos.app.goo.gl/eKHSeQPfFz2FbBc79> F850GS 2018 <img class = "img_moto" src="images/motorcycles/IMG_BMW_F850.jpg" alt="Moto5" ></a></li>
        </ol>
    </div>
<hr>


</body>
<%- include("partials/footer.ejs") %>