
main {
    background-color: #F8EDE3;
    flex: 1;
    display: flex;
    flex-direction: row;
    gap: 20rem; 
    margin-top: 0;
    padding-top: 0;
}

body {
    
    background-color: #F8EDE3;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
}
.img_profile {
    height: 50px;
    width: 50px;
}

hr {
    
    border-style:  none;

    border-top-style: dotted;
    border-color: grey;
    border-width: 3px;
    width: 5%;

}

section{
    background-color: #DFD3C3;
}

 
.container_w{
    background-color: #D0B8A8;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.container_h {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 600px;
    margin: auto;
}

.contact-container form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-email {
    margin-top: 20px;
}
.contact-container h1 {
    margin-bottom: 10px; /* Reduce space below heading */
}

.contact-container p {
    margin-top: 5px; /* Reduce space above paragraph */
}

.contact-container {
    padding-top: 10px; /* Adjust if needed */
}

footer{
    background-color: #85586F;
}