
main {
    background-color: #F8EDE3;
    display: flex;
    flex-direction: row;
    gap: 20rem; 
}

body {
    
    background-color: #F8EDE3;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
}
.img_profile {
    height: 50px;
    width: 50px;
}

hr {
    
    border-style:  none;

    border-top-style: dotted;
    border-color: grey;
    border-width: 3px;
    width: 5%;

}

section{
    background-color: #DFD3C3;
}

 
.container_w{
    background-color: #D0B8A8;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

footer{
    background-color: #85586F;
}